version: '2'

services:
  compass-db:
    container_name: compass-db
    ports:
    - 3306:3306/tcp
    tty: true
    image: compassindocker/compass-db
    stdin_open: true

  compass-mq:
    container_name: compass-mq
    ports:
    - 5672:5672/tcp
    tty: true
    image: rabbitmq
    stdin_open: true

  compass-tasks:
    container_name: compass-tasks
    image: compassindocker/compass-tasks
    volumes:
    - {{ ansible_env.HOME }}/docker_compose/switch_list:/etc/compass/switch_list
    - {{ ansible_env.HOME }}/docker_compose/machine_list:/etc/compass/machine_list
    - {{ ansible_env.HOME }}/docker_compose/ansible:/var/ansible
    - {{ ansible_env.HOME }}/docker_compose/os_installer:/etc/compass/os_installer
    links:
    - compass-mq
    - compass-cobbler
    depends_on:
    - compass-mq
    - compass-cobbler
    stdin_open: true

  compass-deck:
    container_name: compass-deck
    ports:
    - 5050:80/tcp
    tty: true
    image: compassindocker/compass-deck
    links:
    - compass-db
    - compass-mq
    depends_on:
    - compass-db
    - compass-mq
    stdin_open: true

  compass-cobbler:
    container_name: compass-cobbler
    hostname: compass-cobbler
    network_mode: host
    privileged: true
    image: compassindocker/compass-cobbler
    ports:
    - 80:80/tcp
    - 69:69
    - 443:443/tcp
    - 25151:25151/tcp
    - 67:67/tcp
    volumes:
    - {{ ansible_env.HOME }}/docker_compose/cobbler/conf:/root/conf
    - {{ ansible_env.HOME }}/docker_compose/cobbler/kickstarts:/root/kickstarts
    - {{ ansible_env.HOME }}/docker_compose/cobbler/scripts:/root/scripts
    - {{ ansible_env.HOME }}/docker_compose/cobbler/snippets:/root/snippets
    - {{ ansible_env.HOME }}/docker_compose/cobbler/triggers:/root/triggers
    - /mnt:/mnt:ro
    - {{ ansible_env.HOME }}/docker_compose/dists/ppas:/root/ppas
    - {{ ansible_env.HOME }}/docker_compose/dists/pip:/var/www/pip
